body {
    font-family:'Roboto';
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header{
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.quote-sec{
    background-color: #E5E7EB ;
}
.banner{
    background-color: #3882F6;
}

.title{
    font-size: 24px;
    color: #F9FAF8;
    font-weight:600;
    padding-left: 10px;
    padding-bottom: 10px;

}

ul{
    
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(214, 213, 213);
    font-size: 18px;
}
 
button{
    height: 37px;
    width: 125px;
    font-size: 18px;
    background-color:#3882F6;
    color:#F9FAF8;
    text-align: center;
   
    border-radius: 8px; /* This makes the edges curved */
    border-style: none;
    
}

.bottomb{ /*Class for the bottom button as it needs a border*/
    border-style: solid;
    border-color: #F9FAF8;

}

.block1{
    height: 240px;
    width: 520px;
    background-color: #E5E7EB;
    text-align: center;
    flex-shrink: 0;
    
}

.block{
    height: 150px;
    width: 150px;
   background-color: blue;
}

.intro{ /* Holds intro stuff below and image */
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 100px 200px 130px 200px;
    gap: 40px;
    
    
}
.left-intro {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: left;
}

.intro-heading{ /* Changes "This website is awesome" */
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 750;
    text-align: left;
    
}
.introduction { /* Message underneath */
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
}