body {
    font-family:'Roboto';
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f6e8a6;

}


.header{
    background-color:#291c15;
    color: #F9FAF8;
    padding-top: 10px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer{
    background-color: #291c15;
    color: #F9FAF8;
    padding: 40px 200px 40px 200px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.f-note{
    font-size: 18px;
    color: #f5eab1;
    font-weight: 300;
}


.title{
    font-size: 24px;
    color: #f4ebc1;
    font-weight:600;
    padding-left: 10px;
    padding-bottom: 10px;

}

ul{
    
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
}

a{
    text-decoration: none;
    color: rgb(234, 223, 177);
    font-size: 18px;
}
 
button{
    height: 37px;
    width: 125px;
    font-size: 18px;
    background-color:#f0ac38;
    color:#291c15;
    text-align: center;
   
    border-radius: 8px; /* This makes the edges curved */
    border-style: none;
    
}

.bottomb{ /*Class for the bottom button as it needs a border*/
    border-style: solid;
    border-color: #f6e8a6;

}

.block1{
    height: 240px;
    width: 520px;
    background-color: #E5E7EB;
    text-align: center;
    flex-shrink: 0;
    
}

img{ 
    height: auto;
    width: 520px;
}

.block{ /* Class for image size*/
    height: 170px;
    width: 170px;
   background-color: #f5eab1;
   border-style: solid;
   border-color: #f0ac38;
   border-radius: 12px;
   
}

.intro{ /* Holds intro stuff below and image */
    background-color: #291c15;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 100px 200px 130px 200px;
    gap: 40px;
    
    
}
.left-intro {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: left;
}

.intro-heading{ /* Changes "This website is awesome" */
    color: #f5eab1;
    font-size: 48px;
    font-weight: 750;
    text-align: left;
    
}
.introduction { /* Message underneath */
    font-size: 18px;
    color: #f5eab1;
    font-weight: 300;
    text-align: left;
    margin-bottom: 10px;
}

.photosection { /*1st div for the photos */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    background-color: #f6e8a6;
}

.heading-2 {
    font-size: 36px;
    font-weight: 900px;
    color: #291c15;
    text-align: center;
    padding: 50px;
    
}

.photos {
    padding-left:250px;
    padding-right: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}
.imgdesc {
    font-size: 18px;
    text-align: center;
    color: #291c15;
    font-weight: 400;
    padding: 15px;

}

.quote-sec{
    background-color: #cec181;
    padding: 120px 300px 100px 300px;
   
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #291c15;
}

.signature {
    color: #212121;
    font-size: 23px;
    
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 60px;

}

.banner{
    background-color: #f0ac38;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 90px 210px 90px 230px;
    padding: 50px;
}

.heading4{
    font-size: 23px;
    font-weight: 400;
    color:#291c15;
}

.message{
    font-size: 18px;
    color: #291c15;
}



